.level {
  display: flex;
  flex-direction: column;

  width: 480px;

  .label {
    padding: var(--space-4);

    background-color: var(--gray-2);

    .text {
      font-weight: var(--font-weight-medium);
    }
  }
}
