.level {
  display: flex;
  flex-direction: column;

  width: 480px;

  .label {
    padding: var(--space-4);

    background-color: var(--gray-2);

    .input {
      background: none;
      border: none;
      color: inherit;

      width: 100%;

      font-weight: var(--font-weight-medium);
    }
  }
}
